models/checkpoint
libs
data/*.csv
data/cache
data/vgg*
data/tb_files*
.ipynb_checkpoints
aclImdb*
311.csv
word2vec-nlp-tutorial*
*.pyc
BregmanToolkit
Document Classifier.ipynb
TalkingMachinesPodcast.wav
audio_dataset
doc-sensitivity*
*.zip
*.pdf
*.tar.gz
*.tar
User Identification From Walking Activity
mobypos.txt
cifar-10*
cifar10-model
vgg_face_dataset
vgg_face_full.csv
logs
aug*.npy
vgg-face
vgg_face_full_urls.csv
vgg-face-1000epochs*
*.h5
*.png
ch10-model*
international-airline-passengers.csv
coronawhy
en-doc-sensitivity-logreg*
vgg-models
*clean_sensitivity*
foobar
COVID-19
MNIST_data
log.csv
*.mat
cuda*.sh
LibriSpeech*
RNN-Tutorial
seq2seq
models/*.ckpt*