https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.14.0-cp27-none-linux_x86_64.whl; sys.platform == "linux2"
jupyter
pandas
pandas_datareader
matplotlib==2.0.2
nltk
tqdm
sklearn
scikit-image
tika
ystockquote
yfinance
requests
opencv-python==4.2.0.32
pydub
pillow
