tensorflow==1.15.2
jupyter
pandas
pandas_datareader
matplotlib==3.0.2
nltk
tqdm
sklearn
scikit-image
tika
ystockquote
yfinance
requests
python_speech_features
opencv-python==4.0.1.24
pydub
horovod==0.18.2
