jupyter==1.0.0
pandas==0.24.2
pandas-datareader==0.8.1
matplotlib==2.0.2
nltk==3.5
tqdm==4.48.2
sklearn
scikit-image==0.14.5
tika==1.24
ystockquote==0.2.5
yfinance==0.1.54
requests==2.24.0
opencv-python==4.2.0.32
pydub==0.24.1
Pillow==7.1.0
