absl-py~=0.10.0
appdirs~=1.4.4
argon2-cffi~=20.1.0
astunparse~=1.6.3
attrs~=20.1.0
audioread~=2.1.8
backcall~=0.2.0
bleach~=3.1.5
cachetools~=4.1.1
certifi~=2020.6.20
cffi~=1.14.2
chardet~=3.0.4
click~=7.1.2
cloudpickle~=1.6.0
cycler~=0.10.0
decorator~=4.4.2
deepspeech~=0.8.0
defusedxml~=0.6.0
dill~=0.3.2
entrypoints~=0.3
future~=0.18.2
gast~=0.3.3
google-auth~=1.21.0
google-auth-oauthlib~=0.4.1
google-pasta~=0.2.0
googleapis-common-protos~=1.52.0
grpcio~=1.31.0
h5py~=2.10.0
horovod~=0.20.0
idna~=2.10
imageio~=2.9.0
jedi~=0.17.2
Jinja2~=2.11.2
joblib~=0.16.0
jsonschema~=3.2.0
Keras~=2.4.3
Keras-Preprocessing~=1.1.2
kiwisolver~=1.2.0
librosa~=0.8.0
llvmlite~=0.34.0
lxml~=4.5.2
Markdown~=3.2.2
MarkupSafe~=1.1.1
matplotlib~=3.3.1
mistune~=0.8.4
multitasking~=0.0.9
nbconvert~=5.6.1
nbformat~=5.0.7
networkx~=2.5
nltk~=3.5
notebook~=6.1.3
numba~=0.51.2
numpy~=1.17.3
oauthlib~=3.1.0
opencv-python~=4.4.0.42
opt-einsum~=3.3.0
packaging~=20.4
pandas~=1.1.2
pandas-datareader~=0.9.0
pandocfilters~=1.4.2
parso~=0.7.1
pexpect~=4.8.0
pickleshare~=0.7.5
Pillow~=8.3.2
pooch~=1.2.0
prometheus-client~=0.8.0
promise~=2.3
prompt-toolkit~=3.0.7
protobuf~=3.13.0
psutil~=5.7.2
ptyprocess~=0.6.0
pyasn1~=0.4.8
pyasn1-modules~=0.2.8
pycparser~=2.20
Pygments~=2.6.1
pyparsing~=2.4.7
PyQt5~=5.15.0
PyQt5-sip~=12.8.1
pyrsistent~=0.16.0
python-dateutil~=2.8.1
python-speech-features~=0.6
pytz~=2020.1
PyWavelets~=1.1.1
PyYAML~=5.3.1
pyzmq~=19.0.2
qtconsole~=4.7.6
QtPy~=1.9.0
regex~=2020.7.14
requests~=2.24.0
requests-oauthlib~=1.3.0
resampy~=0.2.2
rsa~=4.6
scikit-image~=0.17.2
scikit-learn~=0.23.2
scipy~=1.4.1
seaborn~=0.11.0
Send2Trash~=1.5.0
six~=1.15.0
SoundFile~=0.10.3.post1
tensorboard~=2.3.0
tensorboard-plugin-wit~=1.7.0
tensorflow-addons~=0.11.2
tensorflow-datasets~=3.2.1
tensorflow-estimator~=2.3.0
tensorflow-metadata~=0.24.0
termcolor~=1.1.0
terminado~=0.8.3
testpath~=0.4.4
tf-slim~=1.1.0
threadpoolctl~=2.1.0
tifffile~=2020.9.3
tika~=1.24
tornado~=6.0.4
tqdm~=4.48.2
typeguard~=2.9.1
urllib3~=1.25.10
wcwidth~=0.2.5
webencodings~=0.5.1
webrtcvad~=2.0.10
Werkzeug~=1.0.1
widgetsnbextension~=3.5.1
wrapt~=1.12.1
yfinance~=0.1.54
ystockquote~=0.2.5
