pandas==1.1.0
pandas_datareader==0.9.0
matplotlib==3.0.2
nltk==3.5
tqdm==4.48.2
sklearn
scikit-image==0.17.2
tika==1.24
ystockquote==0.2.5
yfinance==0.1.54
requests==2.24.0
opencv-python==4.2.0.32
pydub==0.24.1
horovod~=0.18.2
python-speech-features==0.6
keras==2.2.4